.return-policy-container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.devoluciones {
    margin-top: 0;
}

.devoluciones-1 {
    margin-bottom: 20px;
}